<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>


    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
    

  <body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <div class = 'container'>
    <header class = 'row'>

      <div class = 'col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <h1>Indiana Soccer Referees Association</h1>
      </div>

    </header>
      


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Ref_Info.html">Referee Information </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Game_Info.html">Game Information </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assign_info.html">Assignment Information </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <main class = 'row'>
        <h1>Game Assignments</h1>
    <br>
    <div id="controller" class="container">
    <div class="row align-items-start">
      <div class="col col-4">
        <h4>Select a game below:</h4>
        <ul class="list-group">
          <li v-for="game in games" v-on:click="selectGames(game)"
            :class="['list-group-item list-group-item-action', {selected: selectedGameAssign && game.g_id == selectedGameAssign.g_id}]">{{
            game.g_id}}</li>
        </ul>
      </div>

      <div class="col col-8" v-if="selectedGameAssign">
        <h3>Assignments for {{ selectedGameAssign.g_id }}</h3>
        <hr />
        
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Referee Name</th>
                <th>Age</th>
                <th>Status</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="a in assigns">
                <td>{{ a.Name }}</td>
                <td>{{ a.Age }}</td>
                <td>{{ a.current_status }}</td>
                <td>{{ a.position}}</td>
              </tr>
            </tbody>
          </table>
</div></div>
    </main>
    <div class="center">
      <footer>
      |  Referee Information Center | <i>Supporting Your Love of the Game</i> | 
      </footer>
    </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>